
h1 {
  margin-top: 25px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h4 {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
}

a .active {
  color: green;
}

table {
  font-size: 16px;
}
thead {
  background-color: #f5f5f5;
}

hr {
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray
}

.title {
  font-size: 30px;
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0px;
  width: 280px;
  background-color: #f5f5f5;
  margin: 10px;
  overflow: scroll;
  padding-left: 10px;
}

.content {
  background: #ffffff;
  margin-left: 320px;
  margin-right: 20px;
}

.contentH1 {
  font-size: 35px;
}

.contentH2 {
  margin-top: 30px;
  font-size: 25px;
}

.contentH3 {
  margin-top: 35px;
  font-size: 25px;
  color: darkblue;
  font-family: 'Roboto Mono', monospace;
}

.fieldName {
  color: darkred;
  font-family: 'Roboto Mono', monospace;
}

.resourceType {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.resourceDefault {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.dynamicField {
  color: black;
  font-family: 'Roboto', sans-serif;
}

.resourceDescription {
  color: black;
  font-family: 'Roboto', sans-serif;
}